<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.its.travelAgency.DTO.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.its.travelAgency.DTO.BoardDTO" alias="board"></typeAlias>
        <typeAlias type="com.its.travelAgency.DTO.CommentDTO" alias="comment"></typeAlias>
        <typeAlias type="com.its.travelAgency.DTO.CartDTO" alias="cart"></typeAlias>
        <typeAlias type="com.its.travelAgency.DTO.OrderDTO" alias="order"></typeAlias>


    </typeAliases>
</configuration>