<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Order">
    <insert id="save" parameterType="order">
        insert into order_table(memberId, price,i_id) values (#{memberId}, #{price},#{i_id})
        <selectKey resultType="long" keyProperty="o_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="booking" resultType="order">
        select * from order_table
    </select>
    <select id="findById" resultType="order">
        select * from order_table where o_id =#{o_id}
    </select>
    <update id="update" parameterType="order">
        update order_table set o_id=#{o_id}, memberId=#{memberId}, price=#{price}, orderCreatedDate={orderCreatedDate}
    </update>
    <select id="booked" resultType="join" parameterType="Long">
        select * from order_table, cart_table where order_table.i_id = cart_table.i_id and order_table.o_id = #{o_id};
    </select>
    <select id="findAll" resultType="order" parameterType="String">
        select * from order_table where memberId=#{memberId}
    </select>

</mapper>