<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Porto">
    <select id="findAll" resultType="porto">
        select * from porto_table;
    </select>
    <insert id="saveFile" parameterType="porto">
        insert into board_table(boardTitle, memberId, boardContents, boardFileName)
        values(#{boardTitle}, #{memberId}, #{boardContents}, #{boardFileName})
    </insert>
</mapper>