<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Save">
    <insert id="save" parameterType="save">
        insert into save_table(i_id, itemTitle, memberId, bookingStartDate, hotel, tour, price)
            value(#{i_id}, #{itemTitle}, #{memberId}, #{bookingStartDate}, #{hotel}, #{tour}, #{price})
    </insert>
</mapper>